<!DOCTYPE html>
<html>
  <head>
    <title>I18nGitlocalize</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul>
      <li class="nav-bar-item"><%= link_to '🇨🇦', root_path(locale: :en) %></li>
      <li class="nav-bar-item"><%= link_to '🇫🇷', root_path(locale: :fr) %></li>
      <li class="nav-bar-item"><%= link_to '🇧🇷', root_path(locale: :pt) %></li>
      <li class="nav-bar-item"><%= link_to '🇪🇸', root_path(locale: :es) %></li>
      <li class="nav-bar-item"><%= link_to '🇯🇵', root_path(locale: :jp) %></li>
    </ul>

    <%= yield %>
  </body>
</html>
